<ion-content>

  <ion-list>

    <ion-item>
      <ion-label>
        <ion-icon name="speedometer" padding-right></ion-icon>
        Bildfrequenz
      </ion-label>

      <ion-select [(ngModel)]="imageFrequency" (ngModelChange)="imageFrequencyChanged()">
        <ion-option value="10000">10sec</ion-option>
        <ion-option value="30000">30sec</ion-option>
        <ion-option value="60000">60sec</ion-option>
        <ion-option value="120000">2min</ion-option>
        <ion-option value="300000">5min</ion-option>
        <ion-option value="600000">10min</ion-option>
        <ion-option value="1800000">30min</ion-option>
        <ion-option value="3600000">1h</ion-option>
        <ion-option value="7200000">2h</ion-option>
        <ion-option value="21600000">6h</ion-option>
      </ion-select>
    </ion-item>

  <ion-item no-lines>
    <ion-label no-margin>
      <ion-icon name="moon" padding-right></ion-icon>
      Pause
    </ion-label>
  </ion-item>

  <ion-grid margin-left fixed>
    <ion-row *ngFor="let hibernate of hibernates; let i = index">
      <ion-col>
        <button (click)="onRemoveHibernate(i)" color="danger" ion-button outline small margin-left margin-top>
          <ion-icon name="remove"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <ion-select multiple="true" placeholder="Wochentage">
            <ion-option *ngFor="let day of days">{{ day }}</ion-option>
          </ion-select>
      </ion-col>
      <ion-col>
        <ion-datetime displayFormat="HH:mm" placeholder="Von"></ion-datetime>
      </ion-col>
      <ion-col>
        <ion-datetime displayFormat="HH:mm" placeholder="Bis"></ion-datetime>    
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button (click)="onAddHibernate()" color="secondary" ion-button outline small margin-left margin-top><ion-icon name="add"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>

</ion-content>
