page-home {
  ion-content {
    background-size: contain;
    background-image: url('/assets/imgs/tree-dummy.jpg');
    background-repeat:  no-repeat;
    background-position:  center top;
    background-attachment: fixed;
  }
}

.home-action-sheet-container {
  button {
    float: left;
    width: auto;
  }

  .action-sheet-group {
    overflow: hidden;
  }

  .action-sheet-wrapper {
    max-width: 800px;
  }
}
