page-home {
  ion-content.content-md {
    background-color: black;

    .scroll-content {
      overflow: hidden;
    }
    div {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}

.home-action-sheet-container {
  button {
    float: left;
    width: auto;
  }

  .action-sheet-group {
    overflow: hidden;
  }

  .action-sheet-wrapper {
    max-width: 16em;
    button {
      width: 3.5em;
    }
  }

  .menu-active {
    ion-icon {
      color: color($colors, secondary);
    }
  }
}
